.container{
    margin: 10px 34px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
 p{
    color:rgb(63, 52, 52);
    margin: 0;
 }
.nav{
    padding: 10px;
    display: flex;
    height: 40px;
    margin-bottom: 16px;
}

.right{
    display: flex;
    margin: 0 0 0 900px;
}

.nav ul li {
    padding:10px 32px ;
  }

.nav ul li:hover{
    color: #3c6ffc;
    border-top: 2px solid #3c6ffc;
  }

h2{
    margin: 0px;
    padding: 10px 0px;
}

.search-btn{
    display: flex;
    margin-top: 16px;
}
.svg{
    background-color: rgb(241, 241, 241);
    width: 46px;
    height: 34px;
    text-align: center;
    padding-top: 15px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}

input{
    border: 1px solid rgb(241, 241, 241);
    padding-left: 16px;
    width: 200px;
}

input::placeholder{
    font-weight: bold;
    font-size: 16px;
    color: black;
}

button{
    background-color: #3c6ffc;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    color: white;
    border: none;
    padding: 0px 22px;
    font-weight: bolder;
    font-size: 16px;
}

.filtre{
    display: flex;
    margin-top: 16px;
}

.categorie{
    display: flex;
    padding-right: 20px;
    margin: 22px 12px;
    border: 1px solid rgb(219, 217, 217);
    border-radius: 20px;
}

.categorie svg{
    color: #3c6ffc;
    margin-left: 11px;
    margin-top: 14px;
}

.svg-1{
    background-color: rgb(241, 241, 241);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.categorie p{
    padding: 11px 6px 11px 16px;
    font-weight: bolder;
    font-size: 16px;
}

.filtre-title{
     padding: 16px 16px 0 0;
 }

 .Total{
     display: flex;
     margin-bottom: 40px;
 }

 .Total p{
     padding: 4px 0 0 8px;
}

.Total svg{
    color: #3c6ffc;
}
 /* Sedond Part*/

 .hebergement{
    background-color: rgb(241, 241, 241);
    width: 920px;
    height: 522px;
    margin-right: 33px;
    border-radius: 20px;
    padding: 26px 10px 26px 39px;
 }

 .card{
    background-color: white;
    width: 225px ;
    height: 182px;
    border-radius: 20px;
    padding: 5px;
    margin: 10px 16px 15px 0;
 }

 .card img{
     width: 100%;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
     height: 110px;
 }

 .card-detail{
     padding-left: 12px;
 }

 .card-detail h3{
     margin: 0;
     padding-top: 5px;
 }

 span{
     font-weight: bold;
 }

 .card-detail p{
     margin: 0;
     padding: 5px 0;
 }

 .flex{
    display: flex;
}

.card-flex{
    display: flex;
    flex-wrap: wrap;
}

 .populaire{
    background-color: rgb(241, 241, 241);
    width: 430px;
    height: 536px;
    border-radius: 20px;
    padding: 20px 39px;
 }

 .card-pop{
    display: flex;
    background-color: white;
    width: 335px ;
    height: 120px;
    border-radius: 20px;
    padding: 5px;
    margin: 10px 0 35px 0;
 }

 .card-pop img{
     width: 120px;
     border-top-left-radius: 15px;
     border-bottom-left-radius: 15px;
     height: 100%;
 }

 .card-detail-pop{
     padding-left: 22px;
 }

 .card-detail-pop h3{
     margin: 0;
     padding-top: 10px;
 }

 .card-detail-pop p{
     margin: 0;
     padding: 5px 0 5px 0;
 }




